<nav class="navbar">Sell your <span class="red">property</span>
<!-- <button type="button" class="reg" routerLink="/signin">Register</button> -->

  
    <a class="reg" href="/signin">Register</a>
</nav>
<div class="first">
   <h1>Buy or sell your property <br> faster with TempleCity</h1>
</div>
<div class="second">
    <p> <b> How to post </b></p>
    <h1>Post your property in 3 simple steps</h1>
    <div class="card">
        <ul>
            <li *ngFor="let card of cards">
               <img class="image"src={{card.image}}>
               <div class="title">
                 <h3>{{card.title}}</h3>
               </div>
               <div class="para">
                <p>{{card.para}}</p>
               </div>
            </li>
        </ul>
    </div>
</div>